<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="yyl.mvc.example.model.UserMapper">

	<resultMap type="yyl.mvc.example.model.User" id="user">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="avatar" property="avatar" />
		<result column="uid" property="uid" />
		<result column="source" property="source" />
		<result column="status" property="status" />
	</resultMap>

	<sql id="columns">username, password, name, avatar, uid, source, status</sql>
	<sql id="table">auth_user</sql>

	<insert id="insert" parameterType="demo.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="table" />
		(
		<include refid="columns" />
		)
		VALUES (#{username}, #{password}, #{name}, #{avatar}, #{uid}, #{source}, #{status})
	</insert>

	<update id="update" parameterType="demo.User">
		UPDATE
		<include refid="table" />
		SET username = #{username},
		password = #{password},
		name = #{name},
		avatar = #{avatar},
		uid = #{uid},
		source = #{source},
		status = #{status}
		WHERE id = #{id}
	</update>

	<select id="getById" parameterType="int" resultMap="user">
		SELECT id,
		<include refid="columns" />
		FROM
		<include refid="table" />
		WHERE id = #{id}
	</select>

	<select id="getByUserName" parameterType="string" resultMap="user">
		SELECT id,
		<include refid="columns" />
		FROM
		<include refid="table" />
		WHERE username = #{username}
	</select>

	<select id="getByUidAndSource" parameterType="map" resultMap="user">
		SELECT id,
		<include refid="columns" />
		FROM
		<include refid="table" />
		WHERE uid = #{uid}
		AND source = #{source}
	</select>

	<sql id="sql_where">
		<where>
			status != 3
			<if test="conditions.cName!=null and conditions.cName!=''">
				AND (username like '%${conditions.cName}%' or name like '%${conditions.cName}%')
			</if>
		</where>
	</sql>

	<select id="getByPage" parameterType="base.Page" resultMap="user">
		SELECT id,
		<include refid="columns" />
		FROM
		<include refid="table" />
		<include refid="sql_where" />
		ORDER BY username
		LIMIT #{start}, #{size}
	</select>

	<select id="getCountByPage" parameterType="base.Page" resultType="long">
		SELECT COUNT(*)
		FROM
		<include refid="table" />
		<include refid="sql_where" />
	</select>

</mapper>