<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="yyl.mvc.test.mapper.DemoMapper">

	<resultMap type="yyl.mvc.test.model.Demo" id="demo">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="value" property="value" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="table">demo_table</sql>

	<sql id="columns">name, value, deleted</sql>

	<insert id="insert" parameterType="yyl.mvc.test.model.Demo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="table" />
		(
		<include refid="columns" />
		)
		VALUES (#{name}, #{value}, #{deleted})
	</insert>

	<update id="update" parameterType="yyl.mvc.test.model.Demo">
		UPDATE
		<include refid="table" />
		SET
		name = #{name},
		value = #{value},
		deleted = #{deleted}
		WHERE id = #{id}
	</update>

	<select id="getById" parameterType="long" resultMap="demo">
		SELECT id,
		<include refid="columns" />
		FROM
		<include refid="table" />
		WHERE id = #{id}
	</select>

	<select id="getByName" parameterType="string" resultMap="demo">
		SELECT id,
		<include refid="columns" />
		FROM
		<include refid="table" />
		WHERE name = #{name}
	</select>

	<sql id="sql_where">
		<where>
			deleted != 1
			<if test="filters.name!=null">
				AND ( name like '%${conditions.name}%' )
			</if>
		</where>
	</sql>

	<select id="find" parameterType="yyl.mvc.core.util.page.Pagination" resultMap="demo">
	SELECT id,
		<include refid="columns" />
		FROM
		<include refid="table" />
		<include refid="sql_where" />
		ORDER BY name
	</select>

</mapper>